.container {
  width: 20rem;
  height: 25rem;
  border: double 5px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  
}

.container > h2 {
  font-size: 1.5rem;
  text-shadow: 0 0 5px #808080;
}

.container > p {
  text-align: center;
}

.container > a {
  width: 8rem;
  font-size: 1.5rem;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: #36a8ef;
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
  position: relative;  
  top: 4rem;
}

.container > a:hover {
  background-color: #7bc3f0;
  font-weight: 600;
  width: 9rem;
}